<div class="container">
  <header>
    <div class="currentDate">
      <div class="currentMonth">
        {{ service.currentDate$ | async | date: "MMMM y" }}
      </div>
      <div class="currentDay" (click)="service.getCurrentDate()">
        <!-- <i class="material-icons md-36">
          <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
          calendar_today
        </i> -->
        <mat-icon>calendar_today</mat-icon>

        <span>{{ service.currentDate$ | async | date: "d" }}</span>
      </div>
    </div>
    <app-calendar-view></app-calendar-view>
    <mat-divider></mat-divider>
    <div class="selectedDate-container">
      <span class="selectedDate">{{
        service.week[service.selectedDay$ | async].date
          | date: "EEEE dd.MM.yyyy"
      }}</span>

      <button mat-button>GO TO TIMESHEET</button>
    </div>
  </header>
  <main>
    <app-events-view [groupedEvents]="groupedEvents"></app-events-view>
  </main>
  <footer>
    <button mat-raised-button>Add task</button>
  </footer>
</div>
